@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../public/spotify-font/GothamMedium.ttf');

body {
  margin: 0;
  font-family: 'Gotham';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}

@layer components {
  .songCardInput {
    @apply bg-black text-white
  }
}

@layer base {
  @font-face {
    font-family: Gotham;
    font-weight: medium;
    src: url(./spotify-font/GothamMedium.ttf) format("ttf");
  }
}